
body{ 
	BACKGROUND: white; 
	font-size:13px;
}

.maptable td{
   border:0px;
   padding:2px;
   color:#0099FF;
	font-size:13px;
}
.tdheader
{
   text-align:right;
   color:#000000 !important;
}

.small span {
	COLOR: #003366;
	FONT-WEIGHT: bold;
}
.TableBlock , .inputtable{
   border:1px #b8d1e2 solid;
   line-height:25px;
   border-collapse:collapse;
   BACKGROUND:#FFFFFF;
   COLOR:#000000;
   font-size:12px;
}
.TableBlock td{
   border:1px #b8d1e2 solid;
   padding:6px;
   padding-left:7px;
   color:#000000;
}
.TableBlock span
{
	font-size:10pt;
}

.star
{
   color:red;
   font-weight:bold;
}


.TableBlock .TableHeader
{
	background: #EFF7FF;
	border: 1px #CFDDEA solid;
}

.TableBlock a
{
	color: #03515d;
	text-decoration:none;
}
.TableBlock a:hover
{
	color:red;
	text-decoration:underline;
}

input[type=text],input[type=password]{
	height:20px; 
	line-height:20px;
	border:1px solid #C0BBB4;
	/× background:url(../images/bg_input_text.png) top left repeat-x; ×/
}

input[type=password]:hover,input[type=text]:hover{
	border:1px solid #99CC00;
	/× background:url(../images/bg_input_text_hover.png) top left repeat-x; ×/
}

input[type=checkbox]{
    border:0px;
}

.BigStatic {
    font-size: 10pt;
    padding: 1px 5px;
    border: 1px solid #C0BBB4;
    background: #E0E0E0;
}
textarea
{
	padding: 1px 5px;  
	border: 1px solid #C0BBB4; 
	line-height:20px;
	/× background: white url(../images/bg_input_text.png) top left repeat-x;×/
}

textarea:hover
{
	border: 1px solid #99CC00; 
	/× background: white url(../images/bg_input_text_hover.png) top left repeat-x;×/
}

input.BigButtonC{
	width:125px;
	height:24px;
	color:#FFFFFF;
	background:url(../images/big_btn_c.png) no-repeat;
	border:0px;
	cursor:pointer;
	font-size:12pt;
}
input.BigButtonC:hover{
	background-position:0 -24px;
}

input.BigButtonA
{
	width:60px;
	height:24px;
	color:#FFFFFF;
	background:url(../images/big_btn_a.png) no-repeat;
	border:0px;cursor:pointer;
	font-size:12pt;
}

input.BigButtonA:hover
{
	background-position:0 -24px;
}

.head a
{
	color:White;
	text-decoration:underline;
}

.head
{
	font-size: 12pt;
	color: #124164;
	font-weight: bold;
	padding-left:5px;
	padding-top:5px;
}

.moduleContainer{background:#FFFFFF;overflow-x:auto;overflow-y:hidden;}
.moduleContainer .blank{line-height:30px;padding-left: 5px;}
.moduleContainer a:link,
.moduleContainer a:hover,
.moduleContainer a:active,
.moduleContainer a:visited{
   color: #0066cc;
   text-decoration: none;
   background:none;
   display: inline;
   font-weight:normal;
}

.moduleContainer a:hover,
.moduleContainer a:active{
   color: #333333;
   text-decoration: underline;
}

.star{
  color:red;
  font-weight:bold;
}

.TableRowLightblue{
	background:#b8d1e2;
}

.TableRowWhite{
	background:#FFFFFF;
}